.flex1to1{
  flex: 1 ;
}
small {
  opacity: .6;
}

.text-muted {
  opacity: .6;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.y-center {
  display: flex;
  align-items: center;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.none {
  display: none;
}

.b-white {
  border-color: #ffffff;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-v {
  height: 100vh;
}

.h-v-5 {
  height: 50vh;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.w-40 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}
.cloud-box{
  margin: 5px 0;
  .ant-card-body{
    padding: 22px;
    font-size: 14px;
    h2{
      margin: 0;
      margin: 0;
    }
  }

}
.clear {
  display: block;
  overflow: hidden;
}

.no-padding {
  .ant-card-body {
    padding: 0;
  }
}

.card-tool {
  position: absolute;
  right: 24px;
  top: 24px;
}

.list-group {
  .list-group-item {
    height: 65px;
    display: flex;
    align-items: center;
    .talkD{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

img {
  vertical-align: middle;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}
.rtSync{
  position: absolute;
  right: 24px;
  top: 24px;
}
